<p> Would you like to sign up as a user or a restaurant owner?</p>
<p> I'm a <%= link_to "diner", new_user_path %>, Yo! </p>

<p> Please, I own my own <%= link_to "Restaurant",  new_restaurant_path %>