<h1> <%= @category.name %></h1>
<div class="gridwrapper">





	<% @category.restaurants.order("created_at desc").each do |restaurant| %>
		<div class="tile">
			<div class="tileinner">
				<%= link_to image_tag(restaurant.avatar), restaurant_path(restaurant) %>
				<%=restaurant.name%>
				<%= link_to "Book a table:",  new_restaurant_booking_path(restaurant) %>
			</div>
		</div>
	<%end%>

</div>